@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.custom-pagination-mobile{
  margin-top: 25px;
}

.testimonial-pagination{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.testimonial-pagination-mobile{
  margin-top: 25px;
}

