@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.custom-pagination-mobile{
  margin-top: 25px;
}

.testimonial-pagination{
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.testimonial-pagination-mobile{
  margin-top: 25px;
}

html, body {
  overflow-x: hidden;
  max-width: 100vw;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
